.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.HomeGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;  
}

.Link {
  background-color: #b3b3b3;
  border: none;
  box-shadow: 1px 5px 5px 0px #4e4e54;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  animation: grow 500ms;
}

.PuzzleLinkText {
  margin-bottom: 10px;
}

.RatingNumber {
  font-size: 15px;
  font-weight: lighter;
}

.NewPuzzleLink {
  background-color: #b3b3b3;
  border: none;
  box-shadow: 1px 5px 5px 0px #4e4e54;
  color: #ffffff;
  height: 140px;
  width: 140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  animation: grow 500ms;
}

.Footer {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Loading .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 40px;
}
.Loading .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.Loading .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

@media only screen and (min-device-width : 320px) and (max-width : 768px) { 
  .HomeGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}