.Move {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: lighter;
}

.Move p {
  margin-right: 10px;
}

.Piece {
  margin-left: -10px;
}

@media only screen and (min-device-width : 320px) and (max-width : 767px) { 
  .Move {
    font-size: 10px;
  }
}