button {
  color: #52716C;
  background-color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.BackButton {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.NewPuzzleFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NewPuzzleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NewPuzzleFormInput {
  display: flex;
  flex-direction: column;
  color: white;
  width: 250px;
  padding-bottom: 10px;
}

.ErrorMessage {
  color: #c41d29;
  font-size: 15px;
}